@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{padding: 0;
margin: 0;
box-sizing: border-box;}
/**Fuente
font-family: "Poppins", sans-serif font-weight: 900;font-style: normal;
font-family: "Poppins", sans-serif font-weight: 400;font-style: normal;

Paleta de colores
#127369 #57dacc 
**/
header { display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 5px;
    align-items: center;
    height: 80px;
    background-image:url(../assets/imagenes/Encabezado.jpg);
    background-color: #127369;
    background-position: center;
    background-size:cover;
margin-bottom: 10px;}
.red-soc{
    top: 30px;
    left: 0;}
.red-soc a img{width: 36px; height: auto;}
.nav-ini{display: flex;
    gap: 20px;
    padding-right: 30px;
    list-style: none;
    margin: 0;
    }
.nav-ini li a{text-decoration: none;
color: rgb(0, 0, 0); font-family:"poppins", sans-serif; font-style: normal; font-weight: bold };

main{background-color: #ffffff;
width: 100vw;}
.seccion1{width:80%; margin: 0 auto; padding-left: 50px;padding-right: 50px;}
.seccion1 h1{font-family: "poppins", sans-serif; color: rgb(0, 0, 0); text-align: center; text-transform: uppercase;font-size:36px;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);font-weight: 900;font-style: normal; margin-bottom: 20px;}
.seccion1 p{font-family: "poppins", sans-serif;font-style: normal ;color: rgb(0, 0, 0);
    text-align: center;margin-bottom: 60px;}
.seccion2{
    width:70%; max-width:1000px; margin: 0 auto;justify-content: center;}
article{margin-bottom: 30px;}
.art1{display: flex;align-items: center;}
.art2{display: flex;align-items: center;}
.art3{display: flex;align-items: center;}
.seccion2 article h2{font-family: "poppins", sans-serif; color:rgb(0, 0, 0);}
.seccion2 article p{font-family: "poppins", sans-serif; color: rgb(0, 0, 0);}
.art1 img {width:180px;height:auto; margin-right: 10px;}
.art2 img {width:180px;height:auto; margin-right: 10px;}
.art3 img {width:180px;height:auto; margin-right: 10px;}
.col img{width: 100%;height: auto; object-fit: contain; padding-bottom: 8px;}
.art-10cla-1 img {width:180px;height:auto; ; margin-right: 10px;border-radius: 40%;}
.art-10cla-2 img {height:180px;width:auto; margin-right: 30px;border-radius: 40%;}
.art-10cla-3 img {height:180px;width:auto;  margin-right: 30px;border-radius: 40%;}
.cuerpo-mentoría{background-image: url(../assets/imagenes/Mentoría.jpg);opacity: 100%; background-size: cover;}
.seccion3{width:80%; max-width:1000px; margin: 0 auto; padding-left: 0;padding-right: 0;}
.seccion3 h1{font-family: "poppins", sans-serif; color: rgb(0, 0, 0); text-align: center; text-transform: uppercase;font-size:36px; text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);font-weight: 900;font-style: normal; margin-bottom: 20px;}
.seccion3 p{font-family:"poppins", sans-serif;color: black;text-align: center;font-style: normal;margin-bottom: 50px;}
.ment-tablet{display:none;}
.claves{justify-content: space-around}
.blog{justify-content: space-around; padding-bottom: 8px;}
article img{width: 12.5rem ; height: auto;}
button{width: 200px; height: 60px; top: 0;margin-bottom: 10px;border: 4px solid #000000;box-shadow: 0px 3px 6px #000000 ;background-color: rgb(255, 255, 255);color: #000000;padding: 20px 20px; padding-top:  10px;padding-bottom: 10px; font-size: 20px;font-family:"poppins", sans-serif;font-style: normal;}
.container {
    display: grid;
    width: 100%;
    height: 500px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: 
    "slide1 slide2 slide3"
    "slide5 slide2 slide4";
    gap: 10px;
    padding: 10px;
    margin-bottom: 150px;
}
.container img{
    width: 100%;
    height:100%;
    object-fit: cover;
}
.container .slide1{ 
    grid-area: slide1;
    background-color: aqua;
}
.container .slide2{ 
    grid-area: slide2;
    background-color: red;
}
.container .slide3{ 
    grid-area: slide3;
    background-color: violet;}
.container .slide4{ 
    grid-area: slide4;
    background-color: green;
}
.container .slide5{ 
    grid-area: slide5;
    background-color: gray;
}


footer{display: flex;justify-content: space-between; height: 80px; text-align: center; 
    padding-top: 40px; padding-left: 5px; padding-right: 5px;
    background-color: #57dacc;height: 160px;object-fit: contain;}
.red-soc a img{width: 24px; height: auto;}
.parrafo p{font-family:"poppins", sans-serif; font-style: normal; font-weight: bold; font-size:20px}

@media(max-width: 1024px)
{
    .foot-red-soc a img{width: 24px;height:auto;}
    .but-foot{width: 100px; height: 30px; top: 0;margin-bottom: 850px;border: 4px solid #000000;box-shadow: 0px 3px 6px #000000 ;background-color: rgb(255, 255, 255);color: #000000;padding: 20px 20px; padding-top:  10px;padding-bottom: 10px; font-size: 20px;font-family:"poppins", sans-serif;font-style: normal;}
    .enviar-mail img{ width: 24px; height: auto;}
}

@media(max-width:768px){
    header{ flex-direction: column-reverse ;background-image: none; background-color: #57dacc;}
    .galería{width: 100%; height: 300px;

        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,1fr);
        grid-template-areas: 
        "slide1 slide2 "
        "slide5 slide2 "
        "slide4 slide2 "
        "slide3 slide2 "; 
        margin-bottom: 710px;}
    .galería img{
            width: 100%;
            height:100%;
            object-fit: cover;
        }
    .cuerpo-mentoría{background-image: none;}
    .seccion3{justify-content: center;text-align: center;}
    .ment-tablet{display:block; width: 100%;height: auto;}
    footer{justify-content:space-between; text-align: center;}
    .foot-red-soc{display: flex; flex-direction: column;}
    .foot-red-soc a img{width: 24px;height:auto;}
    .parrafo p{font-size: 16px; justify-content: center; text-align: center;}
    .but-foot{width: 100px; height: 30px; top: 0;margin-bottom: 850px;border: 4px solid #000000;box-shadow: 0px 3px 6px #000000 ;background-color: rgb(255, 255, 255);color: #000000;padding: 20px 20px; padding-top:  10px;padding-bottom: 10px; font-size: 20px;font-family:"poppins", sans-serif;font-style: normal;}
    .enviar-mail img{ width: 24px; height: auto;}
}
@media(max-width:425px){
    header{height: 210px; justify-content: center; align-items: center;}
    .nav-ini{flex-direction:column;padding-right: none; align-items: center;
        padding-bottom: 4px; gap:2px; }
    .red-soc a img{width: 28px; height: auto;}
    .art1{display: flex;align-items: center;flex-direction: column;justify-content: center;}
    .art2{display: flex;align-items: center;flex-direction: column;justify-content: center;}
    .art3{display: flex;align-items: center;flex-direction: column;justify-content: center;}
    .claves{justify-content: center; text-align: center;}
    .container{display: flex; flex-direction: column;margin-bottom: 540px}
    .container .slide1{ display: none;}  
    .container .slide3{display: none;}   
    .container .slide5{display: none}}