@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-image: linear-gradient(to right top, #ffffff, #dde1eb, #b3c5d6, #84acbd, #53949d, #439296, #338f8c, #258c81, #329f93, #3eb2a6, #4bc6b9, #57dacc);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-image: url(../assets/imagenes/Encabezado.jpg);
  background-color: #127369;
  background-position: center;
  background-size: cover;
}
header .red-soc {
  top: 30px;
  left: 0;
}
header .red-soc a img {
  width: 36px;
  height: auto;
}
header .nav-ini {
  display: flex;
  padding-right: 30px;
  list-style: none;
  margin: 0;
  gap: 12px;
}
header .nav-ini li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.main-index {
  background-color: #ffffff;
  width: 100vw;
}
.main-index .seccion1 {
  width: 80%;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
}
.main-index .seccion1 h1 {
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
  font-weight: 900;
  text-align: center;
  margin-bottom: 20px;
}
.main-index .seccion1 p {
  font-size: 28px;
  text-align: center;
  margin-bottom: 60px;
  color: rgb(0, 0, 0);
}
.main-index .seccion2 {
  width: 70%;
  margin: 0 auto;
  align-items: center;
}
.main-index .seccion2 .art1 {
  display: flex;
  align-items: center;
}
.main-index .seccion2 .art1 img {
  width: 180px;
  height: auto;
  margin-right: 10px;
}
.main-index .art2 {
  display: flex;
  align-items: center;
}
.main-index .art2 img {
  width: 180px;
  height: auto;
  margin-right: 10px;
}
.main-index .art3 {
  display: flex;
  align-items: center;
}
.main-index .art3 img {
  width: 180px;
  height: auto;
  margin-right: 10px;
}
.main-index .galería {
  display: grid;
  width: 100%;
  height: 625px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "slide1 slide2 slide3" "slide5 slide2 slide4";
  gap: 10px;
  padding: 10px;
}
.main-index .galería img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-index .galería .slide1 {
  grid-area: slide1;
}
.main-index .galería .slide2 {
  grid-area: slide2;
}
.main-index .galería .slide3 {
  grid-area: slide3;
}
.main-index .galería .slide4 {
  grid-area: slide4;
}
.main-index .galería .slide5 {
  grid-area: slide5;
}

.clav-section1 {
  width: 80%;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
}
.clav-section1 h1 {
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
  text-align: center;
  margin-bottom: 20px;
}
.clav-section1 p {
  font-size: 28px;
  text-align: center;
  margin-bottom: 60px;
  color: rgb(0, 0, 0);
}

.claves {
  justify-content: space-around;
}
.claves img {
  width: 12.5rem;
  height: auto;
  border-radius: 15%;
}

.main-mentoría .seccion3 {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
.main-mentoría .seccion3 h1 {
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
  margin-bottom: 20px;
}
.main-mentoría .seccion3 p {
  font-size: 28px;
  color: black;
  text-align: center;
  margin-bottom: 50px;
}
.main-mentoría .seccion3 .but-start {
  width: 200px;
  height: 60px;
  top: 0;
  margin-bottom: 10px;
  border: 4px solid #000000;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 6px #000000;
  text-align: center;
}
.main-mentoría .seccion3 .div-ment {
  display: flex;
}
.main-mentoría .seccion3 .div-ment .img-ment {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.blog-seccion1 {
  width: 80%;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
}
.blog-seccion1 h1 {
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
  text-align: center;
  margin-bottom: 20px;
}
.blog-seccion1 p {
  font-size: 28px;
  text-align: center;
  margin-bottom: 60px;
  color: rgb(0, 0, 0);
}

.blog {
  justify-content: space-around;
  padding-bottom: 12px;
}

.main-publicación {
  width: 100vw;
}
.main-publicación .seccion-publ {
  width: 80%;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
}
.main-publicación .seccion-publ h1 {
  padding-bottom: 12px;
  text-align: center;
}
.main-publicación .seccion-publ p {
  padding-bottom: 40px;
  text-align: center;
}
.main-publicación .seccion-publ .video-publi {
  text-align: center;
  padding-bottom: 20px;
}

.cards {
  background-color: radial-gradient(circle, #ffffff, #cfd7e4, #94b4c6, #53949d, #127369);
  border-style: double;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
  text-align: center;
  padding-top: 40px;
  padding-left: 5px;
  padding-right: 5px;
  background-image: linear-gradient(to top, #ffffff, #dde1eb, #b3c5d6, #84acbd, #53949d, #439296, #338f8c, #258c81, #329f93, #3eb2a6, #4bc6b9, #57dacc);
  height: 160px;
  object-fit: contain;
}
footer .foot-red-soc a img {
  width: 24px;
  height: auto;
}
footer .parrafo p {
  font-size: 28px;
}

@media (max-width: 768px) {
  header {
    flex-direction: column-reverse;
    justify-content: center;
    background-image: none;
    background-color: #57dacc;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .main-index .galería {
    width: 100%;
    height: 300px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "slide1 slide2" "slide5 slide2" "slide4 slide2" "slide3 slide2";
    margin-bottom: 710px;
  }
  .main-index .galería img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .main-mentoría {
    justify-content: center;
    text-align: center;
  }
  .main-mentoría .seccion3 {
    justify-content: center;
    text-align: center;
  }
  footer {
    justify-content: space-between;
    text-align: center;
  }
  footer .foot-red-soc a img {
    width: 20px;
    height: auto;
  }
  footer .parrafo p {
    font-size: 24px;
    justify-content: center;
    text-align: center;
  }
}
@media (max-width: 425px) {
  header {
    height: 210px;
    justify-content: space-between;
    align-items: center;
  }
  header .nav-ini {
    flex-direction: column;
    padding-right: none;
    align-items: center;
    padding-bottom: 4px;
    gap: 2px;
    padding-right: 0;
  }
  header .red-soc a img {
    width: 28px;
    height: auto;
  }
  .main-index .art1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .main-index .art2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .main-index .art3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .main-index .galería {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 4px;
  }
  .main-index .galería img {
    width: 100%;
    height: 100%;
  }
  .main-index .galería .slide1 {
    display: none;
  }
  .main-index .galería .slide3 {
    display: none;
  }
  .main-index .galería .slide5 {
    display: none;
  }
  .main-index .galería .slide4 {
    width: 180px;
    height: auto;
    justify-content: center;
  }
  .main-index .galería .slide2 {
    display: none;
  }
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
footer .foot-red-soc a img {
  width: 20px;
  height: auto;
}
footer .parrafo p {
  font-size: 20px;
  justify-content: center;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
